<!-- Nota que es un hbs por lo que tiene contenido html y hbs-->
{{> head }}

<!-- en el server se especifico con hbs la ruta donde se encuentran los parciales, aca lo uso -->
{{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Ejemplo de una imagen</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sunt totam vitae, dignissimos eum laborum at. Tenetur cupiditate nesciunt voluptas aut error dolore dolores aliquid quam a ullam, dicta inventore?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/node_logo.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}